.tertiaryButton {
    background-color: #fff;
    border: 1px solid #fff;
    color: #1a1a1a;

    /* PC用のホバーとフォーカスのスタイル */
    @media (hover: hover) {
        &:hover,
        &:focus {
            background-color: #fff;
            border: 1px solid #1a1a1a;
            color: #1a1a1a;
        }
    }
}
